@using App.Models.ViewModels
@using App.Models.DataBaseModel
@model AlumnoViewModel
@foreach (var alumno in Model.Alumnos )
{
}
<div>
    @await Html.PartialAsync("Partials/Alumno/AgregarAlumnoPartial", new Alumno())
</div>