@using App.Models.DataBaseModel
@model Alumno
<form asp-action="EliminarAlumno" method="POST">

    <label asp-for="alumnoId">Id</label>
    <input asp-for="alumnoId">

    <button type="submit">Eliminar Alumno</button>
</form>