<form action="ModificarAlumno">
    <label name="alumnoIdAnterior">ID</label>
    <input type="number" name="alumnoId">

    <label name="nombre">Nuevo nombre</label>
    <input type="text" name="nombre">
    
    <button type="submit">Modificar Alumno</button>
</form>