@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Accesso restringido";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">No eres un administrador, no tienes acceso aqui</p>
</header>
